<h1 id="componentName">Sample Component</h1>
<div class="row">
    <img src="@Url.ComponentContent("~/img/banner1.svg")" />
</div>
<hr />
@await Component.InvokeAsync(ViewContext.ResolveName("Sample"))
<hr />
@ViewBag.StrProperty
<hr />