<div id="cmContainer" class="row">
    <div class="col-xs-12">
        <div class="page-header"><h3>Core Component Management</h3></div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4">
                @await Html.PartialAsync("PartialViews/SideBar.cshtml")
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8">
                @await Html.PartialAsync("PartialViews/Content.cshtml")
            </div>
        </div>
    </div>
</div>