@model Hisar.Component.ContentManagement.ContentObject

<br />
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h1>@Model.Title</h1>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well" style="height:250px">
                        <h1>Widget1</h1>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well" style="height:250px">
                        <h1>Widget2</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

