<<<<<<< HEAD
﻿<div id="cmContent" style="display: none;" data-bind="visible: selectedAssemblyDetails, with: selectedAssemblyDetails">

    <div class="well well-sm">

        <div class="media">
            <div class="media-body">
                <h4 class="media-heading" data-bind="text: PackageId">Carousel Component</h4>
                <span data-bind="text: Description"></span>
            </div>

            <div class="media-right media-middle">
                <input type="checkbox" checked data-toggle="toggle" data-size="small" data-width="170" data-on="Deactivate Component" data-off="Activate Component" data-onstyle="success" data-offstyle="danger">
            </div>
        </div>

    </div>

    <div class="panel-group" id="cmAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="cmAccordionH1">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCmAccordionH1" aria-expanded="true" aria-controls="collapseOne">
                        CarouselController
                    </a>
                </h4>
            </div>
            <div id="collapseCmAccordionH1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cmAccordionH1">
                <div class="panel-body">


                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">

                            <div class="panel-heading" role="tab" id="cmAccordionSubH1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCmAccordionSubH1" aria-expanded="true" aria-controls="collapseOne">
                                        SliderList <small>(Carousel Slider)</small>
                                    </a>
                                    <span class="pull-right">
                                        <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-width="100" data-on="Hide In Menu" data-off="Show In Menu" data-onstyle="success" data-offstyle="danger">
                                    </span>
                                </h4>
                            </div>
                            <div id="collapseCmAccordionSubH1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cmAccordionSubH1">
                                <div class="panel-body">

                                    <table class="table table-hover font-consolas">
                                        <tr>
                                            <th scope="row" class="active" style="width: 140px; text-align:right;">Display Name:</th>
                                            <td>Carousel Slider</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="active" style="text-align:right;">Return Type:</th>
                                            <td>IActionResult</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>


        </div>

=======
﻿<div class="well well-sm">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading" data-bind="text: selectedAssemblyItem.packageId">Carousel Component</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
        <div class="media-right media-middle">
            <input type="checkbox" checked data-toggle="toggle" data-size="small" data-width="170" data-on="Deactivate Component" data-off="Activate Component" data-onstyle="success" data-offstyle="danger">
        </div>
    </div>
</div>
<div class="panel-group" id="cmAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="cmAccordionH1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCmAccordionH1" aria-expanded="true" aria-controls="collapseOne">
                    CarouselController
                </a>
            </h4>
        </div>
        <div id="collapseCmAccordionH1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cmAccordionH1">
            <div class="panel-body">
                <div class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="cmAccordionSubH1">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCmAccordionSubH1" aria-expanded="true" aria-controls="collapseOne">
                                    SliderList <small>(Carousel Slider)</small>
                                </a>
                                <span class="pull-right">
                                    <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-width="100" data-on="Hide In Menu" data-off="Show In Menu" data-onstyle="success" data-offstyle="danger">
                                </span>
                            </h4>
                        </div>
                        <div id="collapseCmAccordionSubH1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cmAccordionSubH1">
                            <div class="panel-body">
                                <table class="table table-hover font-consolas">
                                    <tr>
                                        <th scope="row" class="active" style="width: 140px; text-align:right;">Display Name:</th>
                                        <td>Carousel Slider</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="active" style="text-align:right;">Return Type:</th>
                                        <td>IActionResult</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
>>>>>>> c3519cd5bf8d46a0ac47e1a9057510d58c263838
    </div>
</div>