<div id="cmSideBar">
    <div class="list-group">
        <div class="list-group-item list-group-header active">
            <h5>
                Components
                <span class="pull-right" data-bind="click: compressComponentList"><i class="fa fa-compress" aria-hidden="true"></i></span>
            </h5>
            @*<div class="form-group formFilterComponentList">
                <input type="text" class="form-control" placeholder="Filter component list">
            </div>*@
        </div>
        
        <div class="componentList" style="display: none;" data-bind="visible: assemblies, foreach: assemblies">
            <a href="#" data-bind="uniqueId: true, click: $parent.selectedAssemblyItem" class="list-group-item animated fadeIn">
                <p>
                    <h5>
                        <i class="fa fa-cog"></i> <b>
                            <span data-bind="text: PackageId"></span>
                        </b>
                        <span class="pull-right badge" data-bind="text: Components.length"></span>
                    </h5>
                </p>
                <p class="small description" data-bind="text: Description"></p>
                <div class="hashtags">
                    <span class="label label-primary">
                        v<span data-bind="text: Version"></span>
                    </span>

                    <span class="label label-default">
                        <span data-bind="text: Authors"></span>
                    </span>
                </div>
            </a>
        </div>
    </div>

</div>