
<div class="row">
    <div class="col-md-6 col-lg-6">
        @await Component.InvokeAsync("Guideline")
    </div>
    <div class="col-md-6 col-lg-6">
        @await Component.InvokeAsync("Guideline2")
    </div>
</div>