<h1 id="componentName">Guideline Component - II</h1>
<a class="btn btn-default" href="@Url.Action("registration", "home")">Go To Registration</a>
<hr />
@await Component.InvokeAsync(ViewContext.ResolveName("MyTest"))
<hr />
@ViewBag.ExternalLibrary
<hr />
@(await Component.InvokeAsync<Shared.Library.SharedScriptViewComponent>())