<!--
# Sample Code Block

<div class="input-group efe-file-picker-popup">
    <input type="text" class="form-control efe-file-input-popup" placeholder="Select file..">
    <span class="input-group-btn">
        <button class="btn btn-primary efe-file-button-popup" type="button">Select File</button>
    </span>
</div>
-->


<script>
    $(function () {
        var windowPopupFileManagerUrl = '@Url.Action("Index", "Home")';

        /*************************
          *** Windows Popup **
          *************************/
        $('.efe-file-button-popup').on('click', function () {
            var efeFilePickerContainerClass = '.efe-file-picker-popup',
                efeFilePickerInputClass = '.efe-file-input-popup',
                efeFilePickerButtonClass = '.efe-file-button-popup';

            var efeFilePickerButton = $(this),
                efeFilePickerContainer = efeFilePickerButton.closest(efeFilePickerContainerClass),
                efeFilePickerInput = efeFilePickerContainer.find(efeFilePickerInputClass);

            var opener = window.open(windowPopupFileManagerUrl, 'targetWindow',
                'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=860, height=640');

            function handlePostMessage(e) {
                var data = e.originalEvent.data;
                if (data.source === 'richfilemanager') {
                    efeFilePickerInput.val(data.preview_url);
                    opener.close();
                }

                // remove an event handler
                $(window).off('message', handlePostMessage);
            }

            $(window).on('message', handlePostMessage);
        });
    });
</script>