@using static Hisar.Component.CoreManagement.ComponentHelper
<link href="@Url.ComponentContent("~/css/componentList.css")" rel="stylesheet" />
<div id="cmListContainer">
    <div class="cmListContainerList row" style="display: none;" data-bind="visible: assemblies, foreach: assemblies">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="panel panel-default cmComponentProject animated fadeIn">
                <div class="panel-body">
                    <div class="cmComponentCount" data-bind="text: ViewComponents.length"></div>
                    <h4 class="no-margin"><b><span data-bind="text: PackageName"></span></b></h4>
                    <h6 class="font-consolas"><span data-bind="html: PackageIdBolder"></span></h6>
                    <p class="small description" data-bind="visibel: Description, text: Description"></p>
                    <div class="hashtags">
                        <span class="label label-warning" data-bind="visible: PackageVersion">
                            v<span data-bind="text: PackageVersion"></span>
                        </span>

                        <span class="label label-default" data-bind="visible: Authors">
                            <span data-bind="text: Authors"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        window.cmContext = {
            componentListRootUrl: '@Url.ComponentContent("~/home/getassemblies")'
        }
</script>
<script src="@Url.ComponentContent("~/js/componentList.js")"></script>



